---
layout: default
---
<div class="container">
<div class="snippets">
  <h1 class="snippets-heading">Portfolios tagged with #{{ page.tag-name }}</h1>

  {% for post in site.posts %}
    {% if post.tags contains page.tag-name %}
<a href="{{ post.url }}">
<div class="thumb-unit" style="background-image: url('{{ post.cover }}')">
          <div class="thumb-overlay">
            <strong>{{ post.judul }}
<br/>
</strong>
          </div>
        </div>
</a>
    {% endif %}
  {% endfor %}
</div>
</div>
