---
layout: default
---
<div class="container">
<div class="snippets">
<h1 class="snippets-heading">Portfolios tagged with #{{ page.tag-name }}</h1>
  {% for post in site.posts %}
    {% if post.tags contains page.tag-name %}
    <a href="{{ post.url }}">
        <div class="thumb-unit" style="background-image: url('{{ post.cover }}')">
          <div class="thumb-overlay">
            <strong>{{ post.judul }}
            <br/>
            </strong>
          </div>
        </div>
    </a>
    {% endif %}
  {% endfor %}
</div>
<br/>
<h3>Other tags</h3>
{% for cloud in site.tags %}
  {% assign tag_slug = cloud.tag-name | slugify: "raw" %}
  <a class="tag-link"
    href={{ site.baseurl | append: "/tags/" | append: tag_slug | append: "/" }}
    rel="category tag">
    #{{ cloud.tag-name }}
  </a>
{% endfor %}
</div>
